* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .mob {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .tab {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .lap {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .header-ul-fir-li-fir {
    margin-top: 6px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 320px) {
  .header-ul-fir-li-fir-img {
    margin-top: 6px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 320px) {
  .header-fir-ul {
    display: flex;
  }
}
@media screen and (max-width: 320px) {
  .header-background-mob {
    background-color: #FFB8CA;
    width: 320px;
    height: 502px;
  }
}
.header-background {
  overflow: hidden;
  background-color: #FFB8CA;
}

@media screen and (max-width: 320px) {
  .header-background-circle-a {
    background-image: url(../../../png/background-first.png);
    background-repeat: no-repeat;
    background-color: #FFA5BA;
    width: 346px;
    height: 344px;
    border-radius: 100%;
    position: relative;
    right: -75px;
    top: 0;
    z-index: 4;
  }
}
@media screen and (max-width: 320px) {
  .header-background-ice-cream {
    background-image: url(../../../png/background-second.png);
    background-repeat: no-repeat;
    width: 171px;
    height: 410px;
    z-index: 2;
    position: absolute;
    right: 100px;
    top: 9px;
  }
}
@media screen and (max-width: 320px) {
  .header-ps {
    font-family: Titan One;
    z-index: 10;
    position: absolute;
    top: 193px;
    left: 20px;
  }
}
@media screen and (max-width: 320px) {
  .header-ps-lit {
    color: white;
    line-height: auto;
    letter-spacing: 4%;
    font-size: 26px;
  }
}
@media screen and (max-width: 320px) {
  .header-ps-big {
    font-size: 48px;
    line-height: 96.5%;
    letter-spacing: 0%;
    color: #D41443;
  }
}
@media screen and (max-width: 320px) {
  .header-ul-but {
    display: flex;
    position: absolute;
    top: 318px;
    left: 20px;
    z-index: 5;
  }
}
@media screen and (max-width: 320px) {
  .header-li-but-fir {
    width: 61.2px;
    height: 24px;
    font-family: DM Sans;
    font-size: 8px;
    font-weight: Regular;
    line-height: auto;
    letter-spacing: 0%;
    color: white;
    background-color: #D41443;
    border-style: none;
    border-radius: 20px;
  }
}
@media screen and (max-width: 320px) {
  .header-li-but-sec {
    width: 82.8px;
    height: 24px;
    font-family: DM Sans;
    font-size: 8px;
    font-weight: Regular;
    line-height: auto;
    letter-spacing: 0%;
    color: #D41443;
    background-color: white;
    border-style: none;
    border-radius: 20px;
    margin-left: 8px;
  }
}
@media screen and (max-width: 768px) {
  .header-ul-fir-li-fir-img-tab {
    width: 199px;
    height: 50px;
  }
}
@media screen and (max-width: 320px) {
  .header-ul-fir-li-fir-img-tab {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .header-fir-ul-tab {
    display: none;
  }
}
.header-background-tab {
  height: 399px;
}

@media screen and (max-width: 768px) {
  .header-ul-fir-li-fir-img {
    margin-left: 34px;
    margin-top: 37px;
  }
}
@media screen and (max-width: 320px) {
  .header-ul-fir-li-fir-img {
    margin-left: 6px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .header-but-fir-tab {
    background-color: white;
    color: #D41443;
    width: 160px;
    height: 44px;
    border-radius: 22px;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 16px;
    border-style: none;
    position: absolute;
  }
}
@media screen and (max-width: 768px) {
  .header-but-fir-tab {
    display: none;
  }
}
@media screen and (min-width: 320px) {
  .header-first-svg {
    position: absolute;
    top: 25px;
    right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .header-first-svg-b {
    position: absolute;
    top: 25px;
    right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .header-first-svg-b {
    position: absolute;
    top: 52px;
    right: 224px;
  }
}
@media screen and (max-width: 320px) {
  .header-fist-svg {
    width: 20px;
    height: 12px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    width: 254px;
    background-color: #E17992;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    transition: transform 1s linear;
    position: fixed;
    padding-top: 23px;
    padding-left: 24px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-but {
    color: #D41443;
    background-color: white;
    width: 186px;
    height: 44px;
    border-radius: 22px;
    display: block;
    /* Buy now */
    border: none;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #D41443;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .mobile-menu-svg {
    width: 14px;
    height: 14px;
    display: block;
    margin-bottom: 23px;
    margin-left: 200px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-nav {
    margin-top: 23px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-nav {
    margin-top: 23px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-nav-item:not(:first-child) {
    margin-top: 22px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-a {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-nav-item {
    border-top: 1px solid rgba(153, 151, 151, 0.5);
    border-bottom: 1px solid rgba(153, 151, 151, 0.5);
  }
}
@media screen and (max-width: 767px) {
  .is-hidden {
    transform: translateX(100%);
  }
}