* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .header-ul-fir-li-fir {
    margin-top: 6px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 320px) {
  .header-ul-fir-li-fir-img {
    margin-top: 6px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 320px) {
  .header-fir-ul {
    display: flex;
  }
}
@media screen and (max-width: 320px) {
  .header-background-mob {
    background-color: #FFB8CA;
    width: 320px;
    height: 502px;
  }
}
.header-background {
  overflow: hidden;
  background-color: #FFB8CA;
}

@media screen and (max-width: 320px) {
  .header-background-circle {
    background-image: url(../../../png/background-first.png);
    background-repeat: no-repeat;
    background-color: #FFA5BA;
    width: 346px;
    height: 344px;
    border-radius: 100%;
    position: absolute;
    right: -75px;
    top: 83px;
    z-index: 4;
  }
}
@media screen and (max-width: 320px) {
  .header-background-ice-cream {
    background-image: url(../../../png/background-second.png);
    background-repeat: no-repeat;
    width: 171px;
    height: 410px;
    z-index: 2;
    position: absolute;
    right: 100px;
    top: 9px;
  }
}
@media screen and (max-width: 320px) {
  .header-ps {
    font-family: Titan One;
    z-index: 10;
    position: absolute;
    top: 193px;
    left: 20px;
  }
}
@media screen and (max-width: 320px) {
  .header-ps-lit {
    color: white;
    line-height: auto;
    letter-spacing: 4%;
    font-size: 26px;
  }
}
@media screen and (max-width: 320px) {
  .header-ps-big {
    font-size: 48px;
    line-height: 96.5%;
    letter-spacing: 0%;
    color: #D41443;
  }
}
@media screen and (max-width: 320px) {
  .header-ul-but {
    display: flex;
    position: absolute;
    top: 318px;
    left: 20px;
    z-index: 5;
  }
}
@media screen and (max-width: 320px) {
  .header-li-but-fir {
    width: 61.2px;
    height: 24px;
    font-family: DM Sans;
    font-size: 8px;
    font-weight: Regular;
    line-height: auto;
    letter-spacing: 0%;
    color: white;
    background-color: #D41443;
    border-style: none;
    border-radius: 20px;
  }
}
@media screen and (max-width: 320px) {
  .header-li-but-sec {
    width: 82.8px;
    height: 24px;
    font-family: DM Sans;
    font-size: 8px;
    font-weight: Regular;
    line-height: auto;
    letter-spacing: 0%;
    color: #D41443;
    background-color: white;
    border-style: none;
    border-radius: 20px;
    margin-left: 8px;
  }
}
@media screen and (max-width: 768px) {
  .header-ul-fir-li-fir-img-tab {
    width: 199px;
    height: 50px;
  }
}
@media screen and (max-width: 320px) {
  .header-ul-fir-li-fir-img-tab {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .header-fir-ul-tab {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header-ul-fir-li-fir-img {
    margin-left: 34px;
    margin-top: 37px;
  }
}
@media screen and (max-width: 320px) {
  .header-fist-svg {
    width: 20px;
    height: 12px;
  }
}