*{
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;

}


@media screen and (min-width: 320px){
    .mob{
display: none;
}
}
@media screen and (min-width: 320px){
    .mob{
display: none;
}
}