*{
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;

}

// @media screen and (max-width:320px){
//     .tab{


//         display: none;
//     }
// }
// @media screen and (max-width:320px){
//     .lap{
// display: none;


//     }
// }
// @media screen and (max-width:768px){
//     .mob{

//         display: none;
//     }
// }
// @media screen and (max-width:768px){
//     .lap{


//         display: none;
//     }
// }
// @media screen and (max-width:1200px){
//     .tab{


//         display: none;
//     }
// }
// @media screen and (max-width:1200px){
//     .mob{

//         display: none;
//     } 
// }