*{
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;

}


@media screen and (min-width: 768px){
    .mob{
display: none;
}
}
@media screen and (max-width: 767px){
    .tab{
display: none;
}
}
@media screen and (max-width: 1199px){
    .lap{
display: none;
}
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}