.footer__title {
  color: rgb(212, 20, 67);
  width: 200px;
  height: 76px;
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 48px;
    /* with passion */
    width: 340px;
    height: 110px;
    letter-spacing: 6%;
    margin-bottom: 91px;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    font-size: 58px;
    width: 474px;
    height: 66px;
    margin-bottom: 97px;
  }
}

@media (min-width: 768px) {
  .footer_div {
    display: flex;
    justify-content: space-between;
  }
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
  margin-top: 43px;
  margin-bottom: 46px;
}
@media (min-width: 768px) {
  .footer__socials {
    margin-top: 0px;
  }
}
@media (min-width: 1280px) {
  .footer__socials {
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

.footer__social-item {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgb(254, 165, 187);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 320px) {
.footer__social-item {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgb(254, 165, 187);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

}

@media (min-width: 768px) {
  .footer__social-item {
    width: 34px;
    height: 34px;
  }
}

.footer__social-item:hover {
  background: rgb(212, 20, 67);
  cursor: pointer;
}

.footer__social-item:not(:last-child) {
  margin-right: 28px;
}
@media (min-width: 768px) {
  .footer__social-item:not(:last-child) {
    margin-right: 30px;
  }
}
@media (min-width: 1280px) {
  .footer__social-item:not(:last-child) {
    margin-right: 25px;
  }
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: white;
}
@media (min-width: 768px) {
  .footer__icon {
    width: 22px;
    height: 22px;
  }
}

.footer__contact {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: right;
  margin-bottom: 47px;
}
@media (min-width: 768px) {
  .footer__contact {
    font-size: 16px;
    margin-bottom: 175px;
    line-height: 21px;
  }
}
@media (min-width: 1280px) {
  .footer__contact {
    letter-spacing: 2%;
    margin-bottom: 98px;
  }
}

.footer-nmbr {
  color: rgb(212, 20, 67);
}

.div-copyright {
  display: flex;
  justify-content: center;
}

.div-copyright::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(225, 225, 225);
}

.copyright-notice {
  width: 150px;
  height: 42px;
  padding-top: 22px;
  padding-bottom: 25px;
  color: rgb(144, 126, 130);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}
@media (min-width: 768px) {
  .copyright-notice {
    width: 276px;
    height: 26px;
    padding-top: 9px;
    padding-bottom: 10px;
    letter-spacing: 2%;
  }
}
@media (min-width: 1280px) {
  .copyright-notice {
    width: 276px;
    height: 26px;
  }
}

@media (max-width: 767px) {
.footer__subtitle{

/* homemade ice cream made */



font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-transform: uppercase;

color: #FFA5BA;


}
}

@media (max-width: 767px) {


.footer__title{

margin-top: 17px;
}
}


@media (min-width: 768px) {

.footer__subtitle{
  /* homemade ice cream made */

// position: absolute;
// width: 340px;
// height: 57px;

font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 30px;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #FFA5BA;



}
}
@media (min-width: 768px) {

.footer__subtitle{

    margin-top: 450px;
}
}
