@charset "UTF-8";
.comments {
  padding-top: 160px;
  padding-bottom: 86px;
}
@media (min-width: 768px) {
  .comments {
    padding-top: 242px;
    padding-bottom: 119px;
  }
}
@media (min-width: 1200px) {
  .comments {
    padding-top: 378px;
    padding-bottom: 132px;
  }
}

.comments__image {
  width: 85px;
  height: 85px;
  width: 85px;
  height: 85px;
  display: block;
  margin: 0 auto;
  margin-bottom: 29px;
}

.comments__div {
  position: relative;
  padding-top: 43px;
  padding-bottom: 26px;
  padding-left: 56px;
  padding-right: 57px;
  background: rgb(250, 250, 250);
  background-size: 280px 308px;
  z-index: -1;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .comments__div {
    padding: 47px 36px 28px 36px;
    background-size: 620px 164px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1280px) {
  .comments__div {
    padding: 47px 89px 39px 87px;
    background-size: 926px 138px;
    margin-bottom: 15px;
  }
}

.comments__text {
  color: rgb(0, 0, 0);
  font-family: DM Sans;
  font-size: 12px;
  width: 157px;
  height: 239px;
  font-weight: 600;
  line-height: 30px;
  position: relative;
  z-index: 2;
  text-align: center;
  background-image: repeating-linear-gradient(to top, #e1e1e1 0px 1px, transparent 1px 31px);
}
@media (min-width: 768px) {
  .comments__text {
    width: 460px;
    height: 83px;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 4%;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .comments__text {
    width: 750px;
    height: 52px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 4%;
  }
}

.comments__text::before {
  font-family: "DM Sans";
  content: "";
  background-image: url("../images/doublequotes.webp");
  background-repeat: no-repeat;
  display: block;
  width: 100px;
  height: 100px;
  color: #ccc;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}
@media (min-width: 768px) {
  .comments__text::before {
    width: 54px;
    height: 40px;
    top: -20px;
    left: -20px;
  }
}
@media (min-width: 1280px) {
  .comments__text::before {
    width: 54px;
    height: 40px;
    top: -20px;
    left: -25px;
  }
}

.comments__text br {
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  content: "";
}

/* Чтобы последняя линия не рисовалась */
.comments__text br:last-of-type {
  border-bottom: none;
}

.comments__author {
  text-align: center;
}
@media (min-width: 768px) {
  .comments__author {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.comments__name {
  color: rgb(0, 0, 0);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
  margin-top: 18px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .comments__name {
    width: 172px;
    height: 25px;
    margin-top: 14px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 21px;
  }
}
@media (min-width: 1280px) {
  .comments__name {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 35px;
  }
}
