
.how-its-made {
  position: relative;
  padding-top: 223px;
  padding-bottom: 97px;
  background: #fff5f6;
}
@media (min-width: 768px) {
  .how-its-made {
    padding-top: 130px;
    padding-bottom: 140px;
    height: 1254px;
  }
}
@media (min-width: 1200px) {
  .how-its-made {
    padding-top: 125px;
    padding-bottom: 139px;
    height: 1382px;
  }
}

.how-its-made__subtitle {
  width: 198px;
  height: 21px;
  margin: 0 auto;
  margin-bottom: 15px;
  color: rgb(255, 165, 186);
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .how-its-made__subtitle {
    width: 285px;
    height: 30px;
    font-size: 26px;
    margin-bottom: 16px;
  }
}
@media (min-width: 1200px) {
  .how-its-made__subtitle {
    font-size: 30px;
    width: 351px;
    height: 34px;
    letter-spacing: 4%;
    margin-bottom: 15px;
  }
}

.how-its-made__title {
  width: 200px;
  height: 76px;
  margin: 0 auto;
  color: rgb(212, 20, 67);
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .how-its-made__title {
    font-size: 48px;
    width: 429px;
    height: 55px;
    text-transform: uppercase;
  }
}
@media (min-width: 1200px) {
  .how-its-made__title {
    font-size: 58px;
    width: 534px;
    height: 66px;
    letter-spacing: 6%;
  }
}

@media (min-width: 768px) {
  .him-div {
    display: flex;
    justify-content: center;
  }
}

.how-its-made__image-main {
  width: 280px;
  height: 279px;
  margin-top: 26px;
  margin-bottom: 46px;
}
@media (min-width: 768px) {
  .how-its-made__image-main {
    width: 340px;
    height: 339px;
    margin-top: 50px;
    margin-bottom: 56px;
    margin-right: 17px;
  }
}
@media (min-width: 1200px) {
  .how-its-made__image-main {
    width: 516px;
    height: 516px;
    margin-right: 74px;
  }
}

@media (min-width: 368px) {
  .how-its-made__description {
   /* Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla. */



font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 162%;
/* or 19px */

color: #000000;


  }
}
@media (min-width: 768px) {
  .how-its-made__description {
    font-size: 14px;
    width: 340px;
    height: 79px;
    line-height: 18px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .how-its-made__description {
    width: 440px;
    height: 79px;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 4%;
    margin-top: 106px;
    margin-bottom: 35px;
  }
}
@media (max-width: 767px) {
.how-its-made__text {
  margin-top: 40px;
  
}

}

.how-its-made__text {
  width: 220px;
  height: 180px;
  color: rgb(144, 126, 130);
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  margin: 0 auto;

}
@media (min-width: 768px) {
  .how-its-made__text {
    font-size: 14px;
    width: 340px;
    height: 155px;
    line-height: 18px;
  }
}
@media (min-width: 1200px) {
  .how-its-made__text {
    width: 434px;
    height: 155px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 4%;
  }
}

.how-its-made__button {
  width: 176px;
  height: 44px;
  border: 2px;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  margin-top: 22px;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .how-its-made__button {
    width: 176px;
    height: 44px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 66px;
    margin-top: 62px;
  }
}
@media (min-width: 1200px) {
  .how-its-made__button {
    width: 176px;
    height: 44px;
    margin-bottom: 146px;
    margin-top: 45px;
    margin-right: 0px;
    margin-left: 0px;
  }
}
.how-its-made__button-link {
  align-items: center;
  text-align: center;
  color: rgb(212, 20, 67);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
}
@media (min-width: 768px) {
  .how-its-made__button-link {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .how-its-made__button-link {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .how-its-made-ul {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .how-its-made-ul {
    justify-content: normal;
  }
}

.how-its-made-li:not(:last-child) {
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .how-its-made-li:not(:last-child) {
    margin-right: 60px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .how-its-made-li:not(:last-child) {
    margin-right: 30px;
  }
}

.how-its-made__stat-icon1,
.how-its-made__stat-icon2,
.how-its-made__stat-icon3 {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .how-its-made__stat-icon1,
  .how-its-made__stat-icon2,
  .how-its-made__stat-icon3 {
    margin-bottom: 36px;
  }
}
@media (min-width: 1200px) {
  .how-its-made__stat-icon1,
  .how-its-made__stat-icon2,
  .how-its-made__stat-icon3 {
    margin-bottom: 40px;
  }
}

.how-its-made-h3-1 {
  width: 98px;
  height: 56px;
  color: rgb(212, 20, 67);
  font-family: Titan One;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .how-its-made-h3-1 {
    font-size: 48px;
    margin-bottom: 13px;
  }
}
@media (min-width: 1200px) {
  .how-its-made-h3-1 {
    height: 65px;
    margin-bottom: 15px;
    font-size: 58px;
  }
}

.how-its-made-h3-2 {
  width: 98px;
  height: 56px;
  color: rgb(212, 20, 67);
  font-family: Titan One;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .how-its-made-h3-2 {
    font-size: 48px;
    width: 147px;
    height: 56px;
    margin-bottom: 13px;
  }
}
@media (min-width: 1200px) {
  .how-its-made-h3-2 {
    height: 65px;
    margin-bottom: 15px;
    font-size: 58px;
  }
}

.how-its-made-h3-3 {
  width: 98px;
  height: 56px;
  color: rgb(212, 20, 67);
  font-family: Titan One;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .how-its-made-h3-3 {
    font-size: 48px;
    width: 77px;
    height: 56px;
    margin-bottom: 13px;
  }
}
@media (min-width: 1200px) {
  .how-its-made-h3-3 {
    height: 65px;
    margin-bottom: 15px;
    font-size: 58px;
  }
}

.how-its-made__stat-text {
  width: 230px;
  height: 36px;
  color: rgb(0, 0, 0);
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
@media (min-width: 768px) {
  .how-its-made__stat-text {
    font-size: 14px;
    width: 180px;
    height: 71px;
    line-height: 18px;
  }
}
@media (min-width: 1200px) {
  .how-its-made__stat-text {
    font-size: 16px;
    width: 230px;
    height: 71px;
    line-height: 21px;
  }
}
@media (min-width: 1200px) {
  .how-its-made__stat-text {
    letter-spacing: 4%;
    width: 330px;
    height: 52px;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 2%;
  }
}

.how-its-made__stat-bottom {
  position: absolute;
  bottom: -70px;
  margin-top: 97px;
  width: 300px;
  height: 122px;
}
@media (min-width: 768px) {
  .how-its-made__stat-bottom {
    width: 740px;
    height: 264px;
    text-align: center;
    bottom: -160px;
  }
}
@media (min-width: 1200px) {
  .how-its-made__stat-bottom {
    width: 1000px;
    height: 430px;
    bottom: -260px;
  }
}
@media (max-width: 767px) {
.how-its-made-ulchk{
/* Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla. */

margin-left: 50px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 162%;
/* or 19px */

color: #000000;




}
}
@media (max-width: 767px) {
.molochko{
    position: absolute;
width: 320px;
height: 133px;
background-image: url(../../../sectionbg1\ 1.png);
background-repeat: no-repeat;
}
}
@media (max-width: 767px) {
.vidstup{

margin-left: 20px;

}

}
@media (max-width: 767px) {
.super-pablo{

margin-top: 97px;
}

}
// @media (max-width: 767px) {

// .comments__author{
// // top: 4000px;
// // position: absolute;
// margin-left: 100px;
// }
// }


@media (max-width: 767px) {
.chips{

margin-left: 100px;
}
}
.comments__author{


    margin-right: 30px;
}

@media (min-width: 768px) {
.how-its-made-ulchk-tab{
/* Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla. */

// position: absolute;
// width: 340px;
// height: 79px;
// left: 394px;
// top: 1699px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 176%;
/* or 25px */

color: #000000;



}
}
@media (min-width: 768px) {
.how-its-made-ulchk{
/* Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla. */

// position: absolute;
// width: 340px;
// height: 79px;
// left: 394px;
// top: 1699px;

display: none;


}
}

@media (min-width: 768px) {

.how-its-made__text{
margin-top: 40px;

}


}

@media (min-width: 768px) {
.super-pablo{
width: 768px;
height: 264px;
margin-top: 140px;
}
}
@media (min-width: 768px) {
.chips{


    margin-left: 340px;
}
}

@media (min-width: 768px) {
.how-its-made-ulchk-tab{
margin-top: 100px;

}

}
