.locations {
  padding-bottom: 113px;
  background: linear-gradient(180deg, rgb(255, 255, 255) 5%, rgb(255, 245, 246) 5%);
}
@media (min-width: 768px) {
  .locations {
    padding-top: 119px;
    padding-bottom: 158px;
    background: linear-gradient(180deg, rgb(255, 255, 255) 20%, rgb(255, 245, 246) 20%);
  }
}
@media (min-width: 1280px) {
  .locations {
    padding-top: 132px;
    padding-bottom: 165px;
    background: linear-gradient(180deg, rgb(255, 255, 255) 23%, rgb(255, 245, 246) 23%);
  }
}

.locations__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .locations__list {
    flex-direction: row;
    justify-content: center;
  }
}

.locations__item {
  width: 220px;
  height: 427px;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  background: rgb(255, 255, 255);
  padding: 43px 20px;
  text-align: left;
}
@media (min-width: 768px) {
  .locations__item {
    height: 544px;
    padding: 50px 32px 50px 31px;
  }
}
@media (min-width: 1280px) {
  .locations__item {
    width: 330px;
    height: 572px;
    padding: 52px 44px 61px 43px;
  }
}

.locations__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .locations__item:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .locations__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.locations__type {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 4%;
  text-align: center;
  /* Rectangle 7 */
  width: 80px;
  height: 16px;
  border-radius: 4px;
  background: rgb(240, 209, 165);
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .locations__type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 73px;
    height: 28px;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 21px;
  }
}
@media (min-width: 1280px) {
  .locations__type {
    margin-bottom: 32px;
  }
}

.locations__type2 {
  color: rgb(255, 255, 255);
  width: 130px;
  height: 16px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 4%;
  text-align: center;
  border-radius: 4px;
  background: rgb(194, 226, 151);
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .locations__type2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 28px;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 21px;
  }
}
@media (min-width: 1280px) {
  .locations__type2 {
    margin-bottom: 32px;
  }
}

.locations__city {
  color: rgb(0, 0, 0);
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 4%;
  text-align: left;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .locations__city {
    font-size: 14px;
    margin-bottom: 14px;
    line-height: 18px;
  }
}
@media (min-width: 1280px) {
  .locations__city {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 21px;
  }
}

.locations__desc {
  width: 179px;
  color: rgb(144, 126, 130);
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
  border-bottom: 1px solid rgb(225, 225, 225);
  margin-bottom: 25px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .locations__desc {
    width: 157px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .locations__desc {
    font-size: 16px;
    width: 243px;
    margin-bottom: 32px;
    padding-bottom: 32px;
    line-height: 21px;
    letter-spacing: 4%;
  }
}
.locations__days {
  color: rgb(0, 0, 0);
  width: 120.85px;
  height: 22px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
@media (min-width: 768px) {
  .locations__days {
    font-size: 14px;
    width: 130px;
    height: 26px;
    line-height: 18px;
  }
}
@media (min-width: 1280px) {
  .locations__days {
    font-size: 16px;
    width: 144px;
    height: 30px;
    line-height: 21px;
    letter-spacing: 4%;
  }
}

.locations__time {
  width: 137.96px;
  color: rgb(255, 165, 186);
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
@media (min-width: 768px) {
  .locations__time {
    font-size: 14px;
    line-height: 18px;
    width: 142px;
  }
}
@media (min-width: 1280px) {
  .locations__time {
    font-size: 16px;
    width: 161px;
    line-height: 21px;
  }
}

.locations__time:not(:last-child) {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .locations__time:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .locations__time:not(:last-child) {
    margin-bottom: 32px;
  }
}

.locations__time:last-child {
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .locations__time:last-child {
    padding-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .locations__time:last-child {
    padding-bottom: 32px;
  }
}

.div-a {
  border-top: 1px solid rgb(225, 225, 225);
  padding-top: 25px;
}
@media (min-width: 768px) {
  .div-a {
    padding-top: 30px;
  }
}
@media (min-width: 1280px) {
  .div-a {
    padding-top: 32px;
  }
}

.locations__phone,
.locations__email {
  color: rgb(144, 126, 130);
  margin-top: 25px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
}
@media (min-width: 768px) {
  .locations__phone,
  .locations__email {
    font-size: 14px;
    width: 157px;
  }
}
@media (min-width: 1280px) {
  .locations__phone,
  .locations__email {
    font-size: 16px;
    line-height: 21px;
  }
}

.btn-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .btn-div {
    flex-direction: row;
    justify-content: center;
  }
}

.locations__btn {
  width: 161.45px;
  height: 44px;
  border: none;
  outline: none;
  border-radius: 24px;
  background: rgb(212, 19, 66);
  margin-top: 54px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .locations__btn {
    margin-top: 85px;
    margin-bottom: 0px;
    width: 191.45px;
  }
}
@media (min-width: 1280px) {
  .locations__btn {
    width: 198px;
    margin-top: 86px;
    margin-bottom: 0px;
  }
}

.locations__btn:hover {
  background: rgb(255, 0, 64);
}

.a-loc {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  align-items: center;
}
.a-fran {
  color: rgb(212, 20, 67);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
}

.locations__btn--alt {
    @media (min-width: 768px) {
margin-right: 170px!important;
    }
  width: 161px;
  height: 44px;
  background: rgb(255, 255, 255);
  border: none;
  outline: none;
  border-radius: 24px;
}
@media (min-width: 768px) {
  .locations__btn--alt {
    width: 174.05px;
    height: 44px;
    
    margin-top: 85px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1280px) {
  .locations__btn--alt {
    margin-left: 15px;
    margin-top: 86px;
    margin-bottom: 0;
  }
}

.locations__btn--alt:hover {
  background: rgb(236, 235, 235);
}

// @media (min-width: 1280px) {
// .locations__days-sec{
// /* Saturday - Sunday */



// font-family: 'DM Sans';
// font-style: normal;
// font-weight: 500;
// font-size: 12px;
// line-height: 186%;
// /* or 22px */

// color: #000000;



// }
// }

// @media (min-width: 1280px) {
// .locations__time-sec{
// /* Saturday - Sunday */



// /* 08:00 AM - 16:00 PM */



// font-family: 'DM Sans';
// font-style: normal;
// font-weight: 500;
// font-size: 12px;
// line-height: 186%;
// /* or 22px */

// color: #FFA5BA;





// }
// }


@media (max-width: 767px) {
.locations__btn{

/* Group 2 */

/* Our Locations */



font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

margin-left: 80px;
padding-left: 30px;
}
}

@media (max-width: 767px) {

.locations__btn--alt{

/* Franchise */


font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #D41443;



}
}
@media (min-width: 768px) {
.locations__btn{
margin-left: 196px;
/* Our Locations */



// font-family: 'DM Sans';
// font-style: normal;
// font-weight: 700;
// font-size: 16px;
// line-height: 21px;
// display: flex;
// align-items: center;
// text-align: center;

color: #FFFFFF;



}
}
@media (min-width: 768px) {
.locations__btn--alt{
margin-right: 196px;
color: #D41443;
}
}
