
// @media (max-width: 767px) {

// .section-div-h1-b{

// margin-top: 121px;

// font-family: 'Titan One';
// font-style: normal;
// font-weight: 400;
// font-size: 18px;
// line-height: 21px;
// text-align: center;
// text-transform: uppercase;

// color: #FFA5BA;


// }





// }






// @media (max-width: 767px) {
// .section-div-p{

   

// margin-top: 15px;

// font-family: 'Titan One';
// font-style: normal;
// font-weight: 400;
// font-size: 34px;
// line-height: 39px;
// text-align: center;
// letter-spacing: 0.04em;
// text-transform: uppercase;

// color: #D41443;


// }


// }


// @media (max-width: 767px) {

// .li-div-div2-b{
// background-image: url(../../../Rectangle\ 3.png);
// height: 485px;
// background-repeat: no-repeat;
// margin-left: 20px;
// margin-top: 171px;
// }
// }

// @media (max-width: 767px) {

// .ul-li-h2{
// display: none;

// }
// }

// @media (max-width: 767px) {
// .ul-li-p1{
// display: none;

// }

// }

// @media (max-width: 767px) {
// .img{


//     display: none;
// }
// }


// @media (max-width: 767px) {
// .ul-li-img-fir
// {
//     z-index: 10;
// position:absolute;
// top: 680px;
// right: -5px;
// }
// }

// @media (max-width: 767px) {

// .ul-li-h2-b{


// top: 1033px;
// right: 77px;
// z-index: 15;
// position: absolute;
// font-family: 'Titan One';
// font-style: normal;
// font-weight: 400;
// font-size: 25px;
// line-height: 23px;
// text-align: center;
// letter-spacing: 0.04em;
// text-transform: uppercase;

// color: #FFFFFF;


// }

// }

// @media (max-width: 767px) {
// .products-fir-krapky{

// position: absolute;
// top: 1075px;
// left: 140px;
// z-index: 15;

// }

// }

// @media (max-width: 767px) {
// .products-bigul{





// font-family: 'DM Sans';
// font-style: normal;
// font-weight: 700;
// font-size: 14px;
// line-height: 152%;

// text-align: center;
// letter-spacing: 0.04em;
// position: absolute;
// color: #FFFFFF;
// top: 1100px
// ;
// right: 73px;
// z-index: 15;
// }
// }

// @media (max-width: 767px) {
// .products-fir-arrow{
// position: absolute;
// top: 0;
// right: 0
// ;

// z-index: 15;

// top: 1260px;
// left: 140px;
// }

// }

// @media (max-width: 767px) {

// .li-div-div2-sec-b{

// background-image: url(../../../Rectangle\ 3\ \(1\).png);

// }
// }
// @media (max-width: 767px) {

// .li-div-div2-b-pablo{
// background-image: url(../../../Rectangle\ 3\ \(2\).png);
// height: 485px;
// background-repeat: no-repeat;
// margin-left: 20px;
// margin-top: 171px;
// }
// }

// @media (max-width: 767px) {

// .ul-li-img-sec{
//   z-index: 10;
// position:absolute;
// top: 1300px;
// right: -5px;


// }



// }
// @media (max-width: 767px) {

// .ul-li-h2-b-pablo{


// top: 1663px;
// right: 77px;
// z-index: 15;
// position: absolute;
// font-family: 'Titan One';
// font-style: normal;
// font-weight: 400;
// font-size: 25px;
// line-height: 23px;
// /* identical to box height */
// text-align: center;
// letter-spacing: 0.04em;
// text-transform: uppercase;

// color: #FFFFFF;



// }
// }


// @media (max-width: 767px) {

// .products-fir-krapky-pablo{

// position: absolute;
// top: 1725px;
// left: 140px;
// z-index: 15;

// }

// }


// @media (max-width: 767px) {
// .products-bigul-pablo{
// font-family: 'DM Sans';
// font-style: normal;
// font-weight: 700;
// font-size: 14px;
// line-height: 152%;
// /* or 21px */
// text-align: center;
// letter-spacing: 0.04em;
// position: absolute;
// color: #FFFFFF;
// top: 1750px
// ;
// right: 73px;
// z-index: 15;


// }

// }

// @media (max-width: 767px) {
// .products-fir-arrow-pablo{
// position: absolute;
// top: 0;
// right: 0
// ;

// z-index: 15;

// top: 1930px;
// left: 140px;
// }

// }


// @media (max-width: 767px) {

// .li-div-div2-b-pablo-c{
// background-image: url(../../../Rectangle\ 3\ \(3\).png);
// height: 485px;
// background-repeat: no-repeat;
// margin-left: 20px;
// margin-top: 171px;

// }

// }
// @media (max-width: 767px) {

// .li-div-div2-b-pablo-c{
// background-image: url(../../../Rectangle\ 3\ \(3\).png);
// height: 485px;
// background-repeat: no-repeat;
// margin-left: 0;
// margin-top: 171px;


// }

// }
// @media (max-width: 767px) {

// .ul-li-img-thi{


//     display: none;
// }
// }


// @media (max-width: 767px) {

// .ul-li-img-sec-c{

// z-index: 10;
// position:absolute;
// top: 1950px;
// right: -5px;

// }
// }
// @media (max-width: 767px) {

// .ul-li-h2-b-pablo-c{
// top: 2303px;
// right: 77px;
// z-index: 15;
// position: absolute;
// font-family: 'Titan One';
// font-style: normal;
// font-weight: 400;
// font-size: 25px;
// line-height: 23px;

// text-align: center;
// letter-spacing: 0.04em;
// text-transform: uppercase;

// color: #FFFFFF;



// }
// }
// @media (max-width: 767px) {
// .products-fir-krapky-pablo-c{

// position: absolute;
// top: 2375px;
// left: 140px;
// z-index: 15;

// }

// }

// @media (max-width: 767px) {
// .products-bigul-pablo-c{


// font-family: 'DM Sans';
// font-style: normal;
// font-weight: 700;
// font-size: 14px;
// line-height: 152%;

// text-align: center;
// letter-spacing: 0.04em;
// position: absolute;
// color: #FFFFFF;
// top: 2400px
// ;
// right: 73px;
// z-index: 15;

// }

// }

// @media (max-width: 767px) {

// .products-fir-arrow-pablo-c{


// position: absolute;
// top: 0;
// right: 0
// ;

// z-index: 15;

// top: 2600px;
// left: 140px;
// }
// }

// @media (min-width: 768px) {
// .section-div-h1-b{


// position: absolute;
// width: 205px;
// height: 30px;
// left: 282px;
// top: 521px;

// font-family: 'Titan One';
// font-style: normal;
// font-weight: 400;
// font-size: 26px;
// line-height: 30px;

// text-align: center;
// text-transform: uppercase;

// color: #FFA5BA;




// }
// }
// @media (min-width: 768px) {
// .section-div-p{


// position: absolute;
// width: 283px;
// height: 55px;
// left: 243px;
// top: 566px;

// font-family: 'Titan One';
// font-style: normal;
// font-weight: 400;
// font-size: 48px;
// line-height: 55px;

// text-align: center;
// letter-spacing: 0.04em;
// text-transform: uppercase;

// color: #D41443;



// }
// }

// @media (min-width: 768px) {
// .section-div-2{

//     display: flex;
// }
// }

// @media (min-width: 768px) {
// .none{
// display: none;

// }
// }
// @media (min-width: 768px) {
// .asdfghjkl{
// margin-left: 200px;
// }
// }
// @media (min-width: 768px) {
// .li-div-div2-b{
// margin-left: 20px;
// background-image: url(../../../Rectangle\ 3.png);
// background-repeat: no-repeat;
// margin-top: 350px;
// }
// }

// @media (min-width: 768px) {
// .li-div-h2-vid{

// padding-bottom: 250px;

// }
// }
.cv{
background-color: white;
}
.section-div-h1{
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FFA5BA;
display: flex;
justify-content: center;
 @media (max-width: 1023px) {
font-size: 26px;
line-height: 30px;
}
@media (max-width: 767px) {
font-size: 18px;
line-height: 21px;

}

}
.section-div-p{
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 58px;
line-height: 66px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #D41443;
padding-top: 15px;
display: flex;
justify-content: center;
@media (max-width: 1023px) {
font-size: 48px;
line-height: 55px;
letter-spacing: 0.04em;
}
@media (max-width: 767px) {
font-size: 34px;
line-height: 39px;
letter-spacing: 0.04em;
display: flex;
justify-content: center;
}

}
.section-div{
padding-top: 127px;
@media (max-width: 1023px) {
padding-top: 122px;
}
@media (max-width: 767px) {
// width: 200px;
display: flex;
flex-direction: column;
padding-top: 127px;
}

}
.div-ul{
display: flex;
@media (max-width: 1023px) {
// width: 1023px;
display: flex;
}
 @media (max-width: 767px) {

display: flex;
flex-direction: column;
}

}

.section-div-2{
display: flex;
justify-content: center;
padding-top: 200px;
// @media (max-width: 767px) {
// width: 767px;   }
@media (max-width: 1023px) {
padding-top: 140px;
}
        
        
}

.ul-li-img{
width: 335px;
height: 335px;
position: absolute;
// top: 250px;
@media (min-width: 768px) {

top: -150px;
}
@media (min-width: 1200px) {

top: -200px;
}
@media (max-width: 1023px) {
width: 220px;
height: 226px;
// top: 300px;
}
@media (max-width: 767px) {
width: 249px;
height: 252px;
// padding-left:36px ;
// padding-right: 35px;
top: -115px;
     
}

}
.div-ul-li1{
width: 359px;
padding-right: 24px;
@media (min-width: 768px) {

position: relative;
}
@media (max-width: 1023px) {
width: 220px;
// padding-right: 20px;
// padding-right: 20px;
margin-right: 20px;
}
@media (max-width: 767px) {
    margin-right: 0px;
position: relative;
width: 280px;
height: 485px;
padding-right: 20px;
// padding-left: 20px;
padding-bottom: 610px;

}

}
.div-ul-li2{
width: 359px;
padding-right: 24px;
@media (min-width: 768px) {

position: relative;
}
@media (max-width: 1023px) {
width: 220px;
// height: 485px;
// padding-right: 20px;
// padding-left: 20px;
}
@media (max-width: 767px) {
position: relative;
width: 280px;
height: 485px;
padding-right: 20px;
// padding-left: 20px;
padding-bottom: 610px;
}

    
}

.div-ul-li3{
width: 335px;
border-radius: 24px;
@media (min-width: 768px) {

position: relative;
}
@media (max-width: 1023px) {
width: 220px;
// height: 485px;
// padding-left: 20px;
// padding-right: 34px;
margin-left: 20px;

}
@media (max-width: 767px) {
    position: relative;
width: 280px;
height: 485px;
padding-right: 20px;
margin-left: 0px;


}

}
.ul-li-div{
border-radius: 24px;
background-color: #FFB8CA;
@media (max-width: 1023px) {
width: 220px;
height: 485px;
}
@media (max-width: 767px) {
width: 280px;
height: 485px;
}

}
.ul-li-div1{
border-radius: 24px;
background-color: #F0D1A5;
@media (max-width: 1023px) {
width: 220px;
height: 485px;
}
@media (max-width: 767px) {
width: 280px;
height: 485px;
}

}
.ul-li-div2{
border-radius: 24px;
background-color: #C2E297;
@media (max-width: 1023px) {
width: 220px;
height: 485px;
}
@media (max-width: 767px) {
width: 280px;
height: 485px;
}

}
.ul-li-h2{
padding-top: 178px;
padding-bottom: 32px;
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FFFFFF;
@media (max-width: 1023px) {
padding-top: 152px;
padding-bottom: 30px;
padding-right: 23px;
padding-left: 22px;
font-size: 20px;
line-height: 23px;
}
@media (max-width: 767px) {
padding-top: 161px;
font-size: 20px;
line-height: 23px;
}

}
.ul-li-p1{
padding-right: 44px;
padding-left: 44px;
padding-top: 32px;
padding-bottom: 62px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 176%;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
@media (max-width: 1023px) {
font-size: 14px;
line-height: 176%;
padding-top: 30px;
padding-bottom: 40px;
padding-left: 11px;
padding-right: 11px;
}
@media (max-width: 767px) {
font-size: 14px;
line-height: 152%;
padding-bottom: 30px;
padding-left: 30px;
padding-right: 30px;
padding-top: 30px;
}

}
.img{
padding-bottom: 50px;
display: flex;
justify-content: center;
display: block;
margin: 0 auto;
@media (max-width: 1023px) {
width: 40px;
padding-bottom: 40px;
}
@media (max-width: 767px) {
width: 40px;
// margin-bottom: 20px;
}

}
.ul-li-img2{
display: block;
margin: 0 auto;
@media (max-width: 1023px) {
width: 26px;
height: 6px;
}
@media (max-width: 767px){
width: 26px;
height: 6px;
}

}
.ul-li-span{
display: none;
@media (max-width: 767px) {
display: block;
}
}
.li-div-div2{
display: flex;
justify-content: center;
}